<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="page-title">
      <h2>Oops! Missing content 404</h2>
    </div>

    <%- include('./partials/nav.ejs') %> <%- include('./partials/footer.ejs') %>
  </body>
</html>
