<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="error content">
      <h2>Internal Server Error 503</h2>
    </div>
    <%- include('./partials/nav.ejs') %>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
