<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="api-div">
      <%- include('partials/nav.ejs') %>
      <h1 class="page-title">API Menu</h1>
      <%- include('partials/api.nav.ejs') %> <%- include('partials/footer.ejs')
      %>
    </div>
  </body>
</html>
