<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h3 class="welcome-msg">Welcome to the customers Route</h3>
    <%- include('./partials/nav.ejs') %>
    <ul>
      <% if (customers.length === 0) { %>
      <h3>No customers found</h3>
      <% } else { customers.forEach( (customer) => { %>
      <div class="customer-info">
        <li><%= customer.first_name %> <%= customer.last_name %></li>
      </div>
      <% }) } %>
    </ul>

    <!-- Form -->
    <form action="/customers" method="post">
      <h3>Add Customer</h3>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required /> <br />
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required /> <br />
      <br />
      <input type="submit" value="Add Customer" />
    </form>
  </body>
</html>
