<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <h1>QAP3</h1>
    <h3>Welcome to the home page</h3>

    <a href="/api" class="api">API</a>
    <%- include('partials/nav.ejs') %>

    <br />

    <%- include('partials/footer.ejs') %>
  </body>
</html>
