<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <header>
      <h1 class="page-title">QAP3</h1>
    </header>

    <h3 class="welcome-msg">Welcome to the home page</h3>
    <br />

    <%- include('partials/nav.ejs') %> <br />
    <%- include('partials/footer.ejs') %>
  </body>
</html>
