* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

body,
/* form, */
.api-nav,
.api-div {
  display: flex;
  flex-direction: column;
}

body,
.api-div {
  align-items: center;
  gap: 20px;
}

footer {
  margin-top: auto;
}

.page-title {
  font-size: 26px;
}

a,
li,
.customer-details {
  font-size: 20px;
}

a {
  transition: color 0.3s, font-size 0.3s;
}

a:hover {
  color: rgb(8, 83, 189);
  font-size: 24px;
}

.api-nav {
  gap: 6px;
}

span {
  font-weight: 600;
}

.customer-link {
  text-decoration: none;
  color: black;
}

.customer-info {
  display: flex;
  gap: 15px;
}
